@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin-top: 32vh;
}
*{
    margin: 0px;
    padding: 0px;
}
button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}
.yellow-block{
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 35px;
    background-color: #FFDC40;
}
.block{
    margin: 0px auto;
    width: 330px;
    border-style: solid;
    border-radius: 16px;
    border-color: #C4C4C4;
    border-width: 1px;
}
.body-block{
    margin: 0px auto;
}
.head-text{
    width: 150px;
    margin: 13px auto;
    font-size: 30px;
    height: 30px;
}
.sort-button{
    display: flex;
    justify-content: end;
    margin-top: 15px;
    margin-right: 25px;
}
.input-block{
    display: flex;
    flex-direction: row;
    width: 286px;
    margin: 8px auto;
    padding: 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: #C4C4C4;
    border-width: 1px;
}
input{
    border-style: hidden;
}
.text{
    width: 250px;
    border-style: none;
}
.text-block{
    margin-left: 7px;
    margin-top: 0git px;
    outline: none;
}
.x-button{
    margin-top: 5px;
    margin-left: 22px;
}

.add-button{
    width: 150px;
    margin: 18px auto;
}
.plus{
    margin: -12px;
    padding: 13px;
    display: flex;
    justify-content: center;
}
.cycle{
    width: 42px;
    height: 42px;
    font-size: 15px;
    background-color: #9953F1;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}
.addFont{
    margin-top: -29px;
    margin-left: 20px;
}
.addB{
    color: white;
    width: 150px;
    height: 42px;
    background-color: #833AE0;
    border-radius: 25px;
    border-style: none;
}